/*
Basic Website Structure Approach
.wrapper - Grid set here
    header
        nav
    aside
        .sidebar-nav
    main.page-name - This allows for setting grid on each page template.
        section
        .container
            .section - Usually for multiple content sections.
            .row
                .columns
            .row
            .columns
    footer
*/

// Columns
$total-columns: 12;

// Breakpoints
$xs : 0;
$sm : 320px;
$md : 640px;
$lg : 992px;
$xl : 1024px;
$xxl : 1440px;

// Sections
section,
.section {
    padding: 3rem 3rem;
}

// Containers
.container {
    width: 95%; //Fallback
    width: 95vw;
    margin: 0 auto;
    max-width: 1440px;
    @media (min-width: $sm) {
        width: 90%; //Fallback
        width: 90vw;
    }
    @media (min-width: $md) {
        width: 80%; //Fallback
        width: 80vw;
    }
    @media (min-width: $lg) {
        width: 70%; //Fallback
        width: 70vw;
    }
    @media (min-width: $xl) {
        width: 85%; //Fallback
        width: 85vw;
    }
    @media (min-width: $xxl) {
        width: 90%; //Fallback
        width: 90vw;
    }
    &.fluid {
        width: 100%; //Fallback
        width: 100vw;
    }
}

// Rows
.row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -0.75rem; // Takes into account the first/last column paddings.
    & + .row {
        margin-top: 1rem;
    }
    &.reverse {
        flex-direction: row-reverse;
    }
    &.between {
        justify-content: space-between;
    }
    &.around {
        justify-content: space-around;
    }
    &.top {
        align-items: flex-top;
    }
    &.middle {
        align-items: center;
    }
    &.bottom {
        align-items: flex-end;
    }
    &.start {
        justify-content: flex-start;
    }
    &.center {
        justify-content: center;
    }
    &.end {
        justify-content: flex-end;
    }
}

// Columns
.col {
    box-sizing: border-box;
    padding: 0 0.75rem;
    max-width: 100%;
    &.first {
        order: -1;
    }
    &.last {
        order: 1;
    }
    &.auto {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }
}

// Media Queries
// Extra Small
@for $i from 1 through $total-columns {
    .xs-#{$i} {
        flex-basis: calc(#{$i / $total-columns * 100%});
        max-width: calc(#{$i / $total-columns * 100%});
    }
    .xs-offset-#{$i} {
        margin-left: calc(#{$i / $total-columns * 100%});
    }
}

// Small
@media (min-width: $sm) {
    @for $i from 1 through $total-columns {
        .sm-#{$i} {
            flex-basis: calc(#{$i / $total-columns * 100%});
            max-width: calc(#{$i / $total-columns * 100%});
        }
        .sm-offset-#{$i} {
            margin-left: calc(#{$i / $total-columns * 100%});
        }
    }
}

// Medium
@media (min-width: $md) {
    @for $i from 1 through $total-columns {
        .md-#{$i} {
            flex-basis: calc(#{$i / $total-columns * 100%});
            max-width: calc(#{$i / $total-columns * 100%});
        }
        .md-offset-#{$i} {
            margin-left: calc(#{$i / $total-columns * 100%});
        }
    }
}

// Large
@media (min-width: $lg) {
    @for $i from 1 through $total-columns {
        .lg-#{$i} {
            flex-basis: calc(#{$i / $total-columns * 100%});
            max-width: calc(#{$i / $total-columns * 100%});
        }
        .lg-offset-#{$i} {
            margin-left: calc(#{$i / $total-columns * 100%});
        }
    }
}

// XLarge
@media (min-width: $xl) {
    @for $i from 1 through $total-columns {
        .xl-#{$i} {
            flex-basis: calc(#{$i / $total-columns * 100%});
            max-width: calc(#{$i / $total-columns * 100%});
        }
        .xl-offset-#{$i} {
            margin-left: calc(#{$i / $total-columns * 100%});
        }
    }
}

// XXLarge
@media (min-width: $xxl) {
    @for $i from 1 through $total-columns {
        .xxl-#{$i} {
            flex-basis: calc(#{$i / $total-columns * 100%});
            max-width: calc(#{$i / $total-columns * 100%});
        }
        .xxl-offset-#{$i} {
            margin-left: calc(#{$i / $total-columns * 100%});
        }
    }
}