/* Background */

.primary-bg {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.transparent-bg {
    background-color: var(--transparent);
}

.white-bg {
    background-color: white;
}

.black-bg {
    background-color: black;
}

.light-tone {
    background-color: var(--light-tone);
}

.mid-tone {
    background-color: var(--mid-tone);
}

.dark-tone {
    background-color: var(--dark-tone);
}