/* Padding */

.p-around--none {
    padding: 0;
}

.p-top--none {
    padding-top: 0;
}

.p-right--none {
    padding-right: 0;
}

.p-bottom--none {
    padding-bottom: 0;
}

.p-left--none {
    padding-left: 0;
}

.p-horizontal--none {
    padding-left: 0;
    padding-right: 0;
}

.p-vertical--none {
    padding-top: 0;
    padding-bottom: 0;
}

.p-bottom--xx-large {
    padding-bottom: 3rem;
}

.p-bottom--x-large {
    padding-bottom: 2rem;
}

.p-bottom--large {
    padding-bottom: 1.5rem;
}

.p-bottom--medium {
    padding-bottom: 1rem;
}

.p-bottom--small {
    padding-bottom: .75rem;
}

.p-bottom--x-small {
    padding-bottom: .5rem;
}

.p-bottom--xx-small {
    padding-bottom: .25rem;
}

.p-top--xx-large {
    padding-top: 3rem;
}

.p-top--x-large {
    padding-top: 2rem;
}

.p-top--large {
    padding-top: 1.5rem;
}

.p-top--medium {
    padding-top: 1rem;
}

.p-top--small {
    padding-top: .75rem;
}

.p-top--x-small {
    padding-top: .5rem;
}

.p-top--xx-small {
    padding-top: .25rem;
}

.p-right--xx-large {
    padding-right: 3rem;
}

.p-right--x-large {
    padding-right: 2rem;
}

.p-right--large {
    padding-right: 1.5rem;
}

.p-right--medium {
    padding-right: 1rem;
}

.p-right--small {
    padding-right: .75rem;
}

.p-right--x-small {
    padding-right: .5rem;
}

.p-right--xx-small {
    padding-right: .25rem;
}

.p-left--xx-large {
    padding-left: 3rem;
}

.p-left--x-large {
    padding-left: 2rem;
}

.p-left--large {
    padding-left: 1.5rem;
}

.p-left--medium {
    padding-left: 1rem;
}

.p-left--small {
    padding-left: .75rem;
}

.p-left--x-small {
    padding-left: .5rem;
}

.p-left--xx-small {
    padding-left: .25rem;
}

.p-horizontal--xx-large {
    padding-left: 3rem;
    padding-right: 3rem;
}

.p-horizontal--x-large {
    padding-left: 2rem;
    padding-right: 2rem;
}

.p-horizontal--large {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.p-horizontal--medium {
    padding-left: 1rem;
    padding-right: 1rem;
}

.p-horizontal--small {
    padding-left: .75rem;
    padding-right: .75rem;
}

.p-horizontal--x-small {
    padding-left: .5rem;
    padding-right: .5rem;
}

.p-horizontal--xx-small {
    padding-left: .25rem;
    padding-right: .25rem;
}

.p-vertical--xx-large {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.p-vertical--x-large {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.p-vertical--large {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.p-vertical--medium {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.p-vertical--small {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.p-vertical--x-small {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.p-vertical--xx-small {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.p-around--xx-large {
    padding: 3rem;
}

.p-around--x-large {
    padding: 2rem;
}

.p-around--large {
    padding: 1.5rem;
}

.p-around--medium {
    padding: 1rem;
}

.p-around--small {
    padding: .75rem;
}

.p-around--x-small {
    padding: .5rem;
}

.p-around--xx-small {
    padding: .25rem;
}

/* Margin */

.m-around--none {
    margin: 0;
}

.m-top--none {
    margin-top: 0;
}

.m-right--none {
    margin-right: 0;
}

.m-bottom--none {
    margin-bottom: 0;
}

.m-left--none {
    margin-left: 0;
}

.m-horizontal--none {
    margin-left: 0;
    margin-right: 0;
}

.m-vertical--none {
    margin-top: 0;
    margin-bottom: 0;
}

.m-bottom--xxlarge {
    margin-bottom: 3rem;
}

.m-bottom--xlarge {
    margin-bottom: 2rem;
}

.m-bottom--large {
    margin-bottom: 1.5rem;
}

.m-bottom--medium {
    margin-bottom: 1rem;
}

.m-bottom--small {
    margin-bottom: .75rem;
}

.m-bottom--x-small {
    margin-bottom: .5rem;
}

.m-bottom--xx-small {
    margin-bottom: .25rem;
}

.m-top--xxlarge {
    margin-top: 3rem;
}

.m-top--xlarge {
    margin-top: 2rem;
}

.m-top--large {
    margin-top: 1.5rem;
}

.m-top--medium {
    margin-top: 1rem;
}

.m-top--small {
    margin-top: .75rem;
}

.m-top--x-small {
    margin-top: .5rem;
}

.m-top--xx-small {
    margin-top: .25rem;
}

.m-right--xxlarge {
    margin-right: 3rem;
}

.m-right--xlarge {
    margin-right: 2rem;
}

.m-right--large {
    margin-right: 1.5rem;
}

.m-right--medium {
    margin-right: 1rem;
}

.m-right--small {
    margin-right: .75rem;
}

.m-right--x-small {
    margin-right: .5rem;
}

.m-right--xx-small {
    margin-right: .25rem;
}

.m-left--xxlarge {
    margin-left: 3rem;
}

.m-left--xlarge {
    margin-left: 2rem;
}

.m-left--large {
    margin-left: 1.5rem;
}

.m-left--medium {
    margin-left: 1rem;
}

.m-left--small {
    margin-left: .75rem;
}

.m-left--x-small {
    margin-left: .5rem;
}

.m-left--xx-small {
    margin-left: .25rem;
}

.m-horizontal--xxlarge {
    margin-left: 3rem;
    margin-right: 3rem;
}

.m-horizontal--xlarge {
    margin-left: 2rem;
    margin-right: 2rem;
}

.m-horizontal--large {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.m-horizontal--medium {
    margin-left: 1rem;
    margin-right: 1rem;
}

.m-horizontal--small {
    margin-left: .75rem;
    margin-right: .75rem;
}

.m-horizontal--x-small {
    margin-left: .5rem;
    margin-right: .5rem;
}

.m-vertical--xx-small {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.m-vertical--xxlarge {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.m-vertical--xlarge {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.m-vertical--large {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.m-vertical--medium {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.m-vertical--small {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.m-vertical--x-small {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.m-vertical--xx-small {
    margin-top: .25rem;
    margin-bottom: .25rem;
}